h1{
   color: lightseagreen;
}
.text-generale{
   color: rgb(39, 143, 204);
}
.link{color: rgb(5, 196, 5);

}
.text-header{
   color: crimson;
}
.text-sub{
   color: blue;
}
.hyperlink{
   color: deeppink;
}
.description{
color: rgb(158, 35, 13);
}
.under-description{
   color: cornflowerblue;
}